body {
    font-family: sans-serif;
    line-height: 1.6;  
}
.header-content{
    
    background-color: #222;
    padding: 1rem ;
    text-align: center;
    position: relative;
}

.logo {
    background-color: #c78c06;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
   
}

.header-content nav ul {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
    list-style: none;
}

.header-content nav ul li a {
    text-decoration: none;
    color: #ffe6ac;
    font-size: 1.2rem;
   
}

.header-content nav  ul li a:hover {
 color: #c78c06;
}


.search-label{
    position: absolute;
    margin-top: -1000px;
}

.search-input{
    padding: 0.5rem;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
   
}


.hero-section {
    position: relative;
    background-image: url(../images/main-banner.jpg);
    background-size: auto;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
}
.hero-section::before{
    content: "";
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    
}
.hero-content{
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 5px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-content p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 20px 20px;
    background-color:#ffc107;
    color: #222;
    cursor: pointer;
    text-decoration: none;
}
.hero-content .cta-button:hover {
    background-color: #c78c06;
}

section{
    padding: 20px 15px;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.about-us img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.services{
    text-align: center;
}
.service .service-item{
    display: grid;
    grid-template-columns: 1fr;
    gap:15px;
}

.service .service-item article img{
    width: 100%;
    border-radius: 5px;
}
.service .service-item article{
    padding: 15px;
    background-color: white;
    border: 1px solid #c78c06;
    border-radius: 5px;
    text-align: left;
}
.service .service-item article h3{
    color: #c78c06;
}
.team {
    text-align: center;
}

.contact-form, .contact-hours, .contact-location {
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #c78c06;
    color: white;
}