body{
    font-family: sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #ffe6ac;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #c78c06;
}

header .logo img {
    max-width: 120px;
}

header nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header .search input{
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;

}

.hero{
    text-align: center;
    padding: 20px;
    background-color: white;
}
