body {
    font-family: sans-serif;
    line-height: 1.6;
    
}
/* header */
.header-content {
    background-color: #222;
    padding: 16px;
    text-align: center;
    position: relative;
}

.logo{
    background-color: #c78c06;
    padding-bottom: 80px;
}

.logo img {
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: auto;
}


.header-content nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    align-items: center;
}

.header-content nav ul li a {
    text-decoration: none;
    color: #ffe6ac;
    font-size: 1.2rem;
}

.header-content nav ul li a:hover {
    color: #c78c06;
}


.search-label {
    position: absolute;
    margin-top: -10000px;
}

.search-input {
    padding: 0.5rem;
    width: 200px;
    border: none;
    display: flex;
    justify-content: center;
}

.search-button{
    background-color:#222 ;
    border: 1px solid #c78c06;
    padding: 8px;
    cursor: pointer;
}
/* hero section */

.hero-section {
    position: relative;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

.hero-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 1rem;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-content p {
    margin-bottom: 1rem;
    font-size: 0.6rem;
}

.hero-content .cta-button {
    font-size: 1rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #ffc107;
    color: #222;
    cursor: pointer;
    text-decoration: none;
}

.hero-content .cta-button:hover {
    background-color: #c78c06;
}

/* About us section */

.about-us-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    background-color: #ffe6ac;
    padding: 16px;
    margin: auto;
    background-color: #ffe6ac;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    color: #000;
    margin-top: 0.2rem;
}

.text-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 0.6rem;
    line-height: 1.5;
    margin-bottom: 8px;

}
/* service section */
.services-section{
    padding: 10px;
}

.services-section h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 8px;
}
.services-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.service{
    display: grid;
    grid-template-columns: 1fr;
  background-color: #ffe6ac;
  
  
}
.service-image img {
width: 100%;
height: auto;
}

.service-content{
    padding: 16px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 16px;
}
.service-content h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.service-content p{
    font-size: 0.6rem;
}
.service-content .service-link{
    background-color: #000;
    color: #fff;
    padding: 15px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

.icon{
    margin-left: 8px;
}

.service-content .service-link:hover{
    background-color: #333;
}
/* vision section */
.vision-section {
    position:relative;
    background-image: url(../images/vision.jpg) ;
    padding: 20px;
    text-align: left;
    height: 300px;
}
.vision-content{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    
}

.vision-content h2 {
    font-size: 2rem;
    font-weight: bold;

}

.vision-content p {
    font-size: 0.6rem;
    margin-bottom: 20px;
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 50, 0.7);
    border: 2px solid #c78c06;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.learn-more:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 50, 0.7);
}
/* team section */
.team-section {
    padding: 10px;
}

.team-section h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.team-grid {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    gap: 20px;
}

.team-member {
    background:#ffe6ac;
    border-radius: 5px;
    
}

.team-member img {
    width: 100%;
    height: auto;
}
.team-member .member-info {
    padding: 10px;
}

.team-member .member-info h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.team-member  .name {
    font-size: 0.5rem;
    font-weight: bold;

}
.team-member .line {
   border: 1px solid #c78c06;
}

.team-member .member-info p {
    font-size: 0.6rem;

}
/* contact section */

.contact-section {
    padding: 10px;
}

.contact-section h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    
}
.contact-section h3{
    font-size: 1.3rem;
    font-weight: bold;
}

.contact-form form {
    padding: 10px;
    background: #fff;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;

}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #222;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    background: #222;
    border: none;
  color: #c78c06;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
  
}

.contact-form button:hover {
    background: #fff;
}

.hours-section table {
    width: 100%;
    border: 1px solid #222;
    margin-top: 5px;
    margin-bottom: 5px;

}

.hours-section th{
    padding: 12px;
    text-align: center;
    border: 1px solid#222;

} 
.hours-section td {
    padding: 12px;
    text-align: left;
    border: 1px solid#222;
}

.hours-section thead {
    background-color: #ffe6ac;
}


.Location-section iframe {
    display: block;
    width: 100%;
    border: none;
    margin-top: 5px;
}

/* footer */
footer {
    background: #222;
    color: #c78c06;
    text-align: left;
    padding: 15px 10px;
    margin-top: 20px;
}

footer a {
    color: #c78c06;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
 @media screen and (min-width:760px) {
    .header-content{
        display: flex;
        flex-direction: row;
        width: 100%;
    
    }

    .about-us-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr; 
 }
 .services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
 }
 .team-member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
}
.team-member img{
    order: 4;
}

}